@page "/"
@attribute [RenderModeInteractiveServer]
@inject IJSRuntime Js
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@str
<br />
<label>Counter: @counter</label>
<brr />
<button type="button" class="btn btn-primary" @onclick="IncrementCounter">Increment Counter</button>

@code {
    private string str = "Default";
    private int counter = 0;
    protected override async Task OnInitializedAsync()
    {
        str = "OnInitialized";
        //await Js.InvokeVoidAsync("alert", "OnAfterRender");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        str = "OnAfterRender";
        await Js.InvokeVoidAsync("alert", "OnAfterRender");
    }
    private void IncrementCounter() => counter++;
}